.fixtures {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.leagues-list,
.teams-list,
.match-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  list-style-type: none;
}

.leagues-list {
  background-color: #c3c3c3;
}

.teams-list {
  background-color: #6a5acd;
}

.match-list {
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.team,
.league,
.match {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  cursor: pointer; 
}

.league {
  color: black;
}
.match {
  background-color: #c3c3c3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  color: black;
}

.match:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.team:hover,
.league:hover,
.match:hover {
  color: yellow;
}

.crest {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.modal {
  padding: 25px;
  margin: 25px;
}

.custom-overlay {
  background: rgba(36, 123, 160, 0.7) !important;
}
.custom-modal {
  background: #b2dbbf !important;
  max-width: 1000px !important;
  height: 95%;
  width: 100%;
}

.highlights {
  display: inline-block;
}

.review-item{
  display: block;
  margin: 25px;
}